@import '../../../scss/variables.scss';

.navbar-dark {
	background-color: $surface;
	box-shadow: $shadow-2dp;

	.navbar-brand {
		color: $onSurface;
	}

	.navbar-text {
		color: $onSurfaceMediumEmphasis;
	}
}
