@import '../../scss/variables.scss';

.List {
	.row {
		margin-bottom: 15px;
	}

	.count {
		color: $onSurfaceMediumEmphasis;
	}
}

@media only screen and (max-width: 768px) {
	.List {
		.row {
			margin-bottom: 0px;

			> div {
				margin-bottom: 15px;
			}
		}
	}
}
