@import '../../../scss/variables.scss';

.pagination {
	.page-link {
		background-color: $surface;
		border: none;
		color: $primary;

		&:hover {
			cursor: pointer;
		}
	}

	li:last-child {
		margin-left: 4px;
	}

	.page-item.disabled .page-link {
		color: $onSurfaceLowEmphasis;
		pointer-events: none;
		cursor: auto;
		background-color: $surface;
		border: none;
	}
}
