@import '../../scss/variables.scss';

.Search {
	input,
	input:focus {
		background-color: $background-input;
		border: none;
		color: $onSurface;
		box-shadow: none;
	}

	.input-group {
		box-shadow: $shadow-4dp;
	}

	span {
		background-color: $surface;
		color: $onSurface;
		border: none;
	}

	select,
	select:focus {
		background-color: $background-input;
		border: none;
		color: $onSurface;
		box-shadow: none;
	}
}
