@import '../../../scss/variables.scss';

.footer {
	color: $onSurface;
	background-color: $surface;
	padding: 40px;

	hr {
		width: 100px;
		border-top: 1px solid $divider;
	}

	a {
		color: $onBackground;
	}

	.list-unstyled {
		margin-bottom: 0px;
	}
}
