@import '../../scss/variables.scss';

.Movie {
	background-color: $surface;
	color: $onSurface;

	box-shadow: $shadow-6dp;

	.card-body .card-subtitle {
		color: $onSurfaceMediumEmphasis;
	}

	.card-footer {
		border-top: 1px solid $divider;
	}
}
