.btn-primary {
	background-color: $primary !important;
	border-color: $primary !important;
	color: $onPrimary !important;

	&:hover,
	&:active,
	&:focus {
		background-color: $primary !important;
		border-color: $primary !important;
		color: $onPrimary !important;
	}

	&:hover {
		background-color: $primary-darker !important;
		border-color: $primary-darker !important;
	}
}

.btn-secondary {
	background-color: $secondary !important;
	border-color: $secondary !important;
	color: $onSecondary !important;

	&:hover,
	&:active,
	&:focus {
		background-color: $secondary !important;
		border-color: $secondary !important;
		color: $onSecondary !important;
	}

	&:hover {
		background-color: $secondary-darker !important;
		border-color: $secondary-darker !important;
	}
}
