$primary: #ff7043;
$primary-darker: #e5643c;

$secondary: #8d6e63;
$secondary-darker: #7e6359;

$surface: #1d1d1d;

$background: #121212;
$background-input: #3a3b3c;

$error: #cf6679;

$onPrimary: #000000;
$onSecondary: #ffffff;

$onSurface: rgba(255, 255, 255, 0.87);
$onSurfaceMediumEmphasis: rgba(255, 255, 255, 0.6);
$onSurfaceLowEmphasis: rgba(255, 255, 255, 0.38);

$onBackground: rgba(255, 255, 255, 0.6);

$onError: #000000;

$divider: #333333;

/* Google Material Design elevation: https://gist.github.com/serglo/f9f0be9a66fd6755a0bda85f9c64e85f */
$shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$shadow-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$shadow-6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
